 .body,html{
  width: 100%;
  min-width: 1200px;
  background-color: #f7f7f7;

 }
 i{
     display: inline-block;
     
 }
 a{
     color: #333;
 }
 .top_l{
     position: relative;
     font-size: 12px;
     background-color: #f5f5f5;
     border-bottom: 1px solid #e6e6e6;
     height: 29px;
     line-height: 29px;
     color: #666;
     width: 100%;
 }
 .wrapper{
     width: 1200px;
     margin: 0 auto;
     position: relative;
 }
 .clearfix{
     overflow: visible;
 }
 .clearfix:after{
     content: "";
     display: block;
     visibility:hidden;
     clear: both;
     height: 0;
 }
 .f_left{
     float: left;
 }
 .f_right{
     float: right;
 }
 .topnav>ul>li{
     float: left;
     margin: 0 10px;
    height: 29px;
    font: 12px/29px arial;
 }
 
 .f_right>ul>li>a{
     color: #666;
    
 }
 .l_mobile{
     position: relative;
     background: url(../images/top_l_ico.png) no-repeat;
     background-position: 0 0;
     padding: 0 23px 0 25px;
 }
 .l_mobile:hover{
     background-color: #fff;
 }
.mobile{
    position: absolute;
    top: 29px;
    left: 0;
    padding: 20px;
    width: 130px;
    height: 130px;
    border: 1px solid #ededed;
    background: #fff;
    z-index:9 ;
    box-sizing: content-box;
    display: none;
}
.mobile>img{
    width: 130px;
    height: 130px;
}
.xiahua{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 7px;
    height: 4px;
    background: url(../images/top_l_ico.png) no-repeat;
    background-position: 0 -45px;
   
}
.head{
    padding:50px 0;
    background-color: #fff;
}
.logo{
    width: 90px;
   
}
.search{
    position: absolute;
    width: 536px;
    height: 37px;
    border: 2px solid #887f7f;
   left: 0;
   right: 0;
   margin: 0 auto;
    top: 50%;
    margin-top: -16px;
}
.search form{
    height: 100%;
}
.keyword{
    padding: 0px 10px;
    width: 441px;
    height: 100%;
    color: #666;
    border: 0 none;
    outline: 0 none;
    font-size: 16px;
}
.sreach-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 100%;
    color: #fff;
    border: 0 none;
    background: #887f7f;
    outline: 0 none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.ownmenu{
    margin-top:18px;
}
.icon{
    background: url(../images/iconall.png) no-repeat;
}
.ownmenu .order{
   
   top: 8px;
    width: 20px;
    height: 22px;
    background-position: 0 -166px;
}
.ownmenu>a{
    padding:0 0 0 28px; 
    font-size: 14px;
    line-height: 36px;
    float: right;
    text-decoration: none;
    color: #333;
    margin-left: 2px;
    position: relative;
    margin-left:10px; 
}
.ownmenu>a>i{
    position: absolute;
    left: 0;
}
.ownmenu .quan{
    top: 9px;
    width: 22px;
    height: 19px;
    background-position: 0 -190px;
}
.ownmenu .goods{
    top: 9px;
    width: 18px;
    height: 18px;
    background-position: 0 -211px;
}
.nav{
    background-color: #fff;
}
.nav .ul li{
    float: left;
    padding: 0 50px 0 0;
    height: 39px;
    font: 18px/39px "Microsoft YaHei";
   
}
.nav .ul li>a:hover{
    color: #CC9966;
}
.nav .ul li>a{
    color: #333;
    text-decoration: none;
}
.nav .ul li:nth-of-type(1){
    margin-left: 40px;
}
.classify-box{
    float: left;
    width: 160px;
    height: 39px;
    background-color: #333;
}
.classify-top{
    padding: 0 0 0 52px;
    font: 16px/38px "Microsoft YaHei";
    color: #fff;
    cursor: pointer;
    position: relative;
}
.menu{
    position: absolute;
    top: 14px;
    left: 26px;
    width: 12px;
    height: 10px;
    background-position: 0 -154px;
}
.x-j{
    position: absolute;
    top: 17px;
    right: 12px;
    background-position: -17px 0px;
    width: 15px;
    height: 8px;
}
.current{
 color: #ec7814;
}
.classify-bottom{
    position: absolute;
    top: 39px;
    left: 0;
    width: 860px;
    background-color: #fff;
}
.classify-li{
    position: relative;
    height: 400px;
    overflow: hidden;
    background-color: #fff;
    width: 160px;
    z-index: 33;
}
.classify-li>ul>li{
    position: relative;
    zoom: 1;
    height: 54px;
    font: 16px/54px "Microsoft YaHei";
    color: #333;
    overflow: hidden;
    padding: 0 0 0 50px;
  
}
.c-icon{
    background: url(../images/iconall.png) no-repeat;
    position: absolute;
}
.history{
 background-position:-58px 0;
	width: 28px;
    height: 25px;
    top:16px;
    left: 10px;
}
.techo{
    background-position:-59px -34px;
	width: 21px;
    height: 19px;
    top:18px;
    left: 14px;
}
.comics{
    background-position:-59px -64px;
	width: 22px;
    height: 22px;
    top:17px;
    left: 13px;
}
.ebook{
    background-position: -59px -94px;
	width: 22px;
    height: 25px;
    top:15px;
    left: 14px;
}
.fiction{
    background-position: -59px -127px;
	width: 21px;
    height: 22px;
    top:16px;
    left: 14px;
}
.life{
    background-position:  -54px -155px;
	width: 32px;
    height: 24px;
    top:15px;
    left: 7px;
}
.classify-li li:hover{
    background-color: #887f7f;
    cursor: pointer;
    color: #fff;
}
.classify-li .select{
    background-color: #887f7f;
    cursor: pointer;
    color: #fff;
}
.classify_nav_box{
    position: absolute;
    top: 0;
    left: 160px;
    height: 396px;
    background-color: #fff;
   width: 700px;
   overflow: hidden;
   border: 2px solid #887f7f;
    padding:  0 20px;
    display: none;
    z-index: 35;
}
.classify_nav_box>h2{
    font-size: 16px;
}
.classify_nav_box>a{
    display: inline-block;
    margin: 0 30px 0 0;
    font: 14px/28px "Microsoft YaHei";
}
.classify_nav_box>a:hover{
    color: #CC9966;
}
.classify_nav_box>img{
    padding-top:20px; 
}
.banner{
    max-width: 100%;
    height: 400px;
}

.newbook{
    padding:20px 30px 0 30px;
   
}
.smalltitle{
    background: url('../images/smalltitle.png') no-repeat ;
	padding-left: 99px;
    height: 43px;
   
    margin: 10px 0;
}
.newbook .nb-title{
    background-position: 0 0;
}
.newbook .nb-item{
    float: left;
    width: 200px;
    height: 300px;
    padding: 20px 15px;
    margin-left: 12px;
    text-align: center;
    background-color: #fff;
   
}
.newbook .nb-item:hover{
    box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
    -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}
.newbook .nb-box{
    padding: 10px 0;
}
.nb-box ul{
    margin-left: -12px;
  
}
.nb-item .pic{
    display: block;
    margin-bottom: 22px;
}
.nb-item .pic img{
   vertical-align: top;
   
}
.nb-item:hover .pic img{
    transform: scale(1.1);
}
.book-name{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
}
.author{
    font-size: 16px;
    padding: 0 20px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    color: #aaa;
}
.book-price{
    height: 30px;
    line-height: 30px;
    font-size: 21px;
    font-weight: bolder;
    color: red;
}
.tj-title{
    background-position:  0 -78px; 
}
.hot-book{
background-color: #fff;
width: 594px;
margin-top: 20px;

}
.wrapper .blue-title{
    background-color: #7095ee;
    font-size: 18px;
    color: #fff;
    height:46px;
    padding: 0 15px;
    line-height: 46px;
    font-weight: bold;
}
.li-box{
    float: left;
    width: 160px;
    height: 280px;
    padding: 0 18px;
    text-align: center;
    border: 1px solid #f4f4f4;
}
.li-box .img{
    padding: 10px 0;
    width: 100%;
}
.li-box:hover{
    border: 1px solid #7095ee;
}
.famous-author{
    padding: 20px 30px 0 30px;
}
.fa-title{
    background-position: 0 -150px;
}
#wraps{
   padding-top:20px; 
   background-color: #fff;
   margin-top: 20px;
}
#wraps .top{
    width:850px;
    margin: 0 auto;
}
#wraps .top ul
{
    list-style-position:outside; 
    list-style-type:none;
}
#wraps .top ul li{
    float:left; width:100px;
    margin-right: 21px;
   
}
#wraps .top ul li a
{    display:block;
     cursor:pointer;
     width: 100px;
    }
#wraps .top ul li img
{   border: 1px solid #f5f2f0;
   width: 100%;
   border-radius:15px; 
}
#wraps .down
{
    width:1100px; 
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
}
#wraps .down .f_left atpic{
  width: 180px;
  height: 220px;
}
#wraps .down .f_left a{
    display: block;
}
#wraps .down .f_left a:hover{
    text-decoration: none;
}
#wraps .down>.clearfix
{
   display: none;
}
#wraps .down .authordetail{
    width:200px;
}
.name{
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
}
.detail{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 12px;
    line-height: 20px;
    height: 140px;
    overflow: hidden;
}
.books{
    width: 850px;
}
.down .down-h-book{
    width:150px;
}
.b-l-r{
width: 675px;
}
.b-l-r a{
    display: inline-block;
}
.b-l-r a{
    text-decoration: none;
}
.b-l-r a:hover .book-name{
    color: #ec7814;
    
}
.b-l-r .book-price{
    padding-top: 20px;
}
.b-l-r .detail{
    text-indent: 2em;
    text-overflow:ellipsis; 
}
.else-book{
    height: 50px;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    color: #666;
    line-height: 50px;
}
.else-book a{
    margin-left: 20px;
}
.foot{
    text-align: center;
    border-top: 1px solid #ebebeb;
    padding: 37px 0;
    color: #666;
    background-color: #f5f5f5;
    width: 100%;
    margin-top: 40px;
}
.foot p{
    height: 26px;
    line-height: 26px;
    color: #666;
}
.fix-bar{
    left: 3%;
    position: fixed;
    width: 80px;
    background-color: #908787;
    overflow: hidden;
    top:80px;
    z-index: 50;
    display: none;
}
.fix-bar a{
    position: relative;
    display: block;
    height: 38px;
    border-bottom: 1px solid #a19999;
    font-size: 14px;
    line-height: 38px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.fix-bar a:hover{
background-color:#ec7814;

}